<!doctype html>
<html lang="en-US">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title> <%= title %> | Contact</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body> 
        <% include header %>
    	<h1> Contact Us</h1>

        <form action="contact/email" method="post">
           Name: <input name="name" type="text" placeholder="Name"></input>
           Email: <input name="email" type="text" placeholder="email"></input>
           Subject
            <input name="subject" type="text" ></input>

          message  <input name="message" type="text" ></input>
            <input type="submit" value="contact"></input>
        </form>
    </body>
</html>